.welcome{
  .login {
    #login-form {

    }
  }
  .jumbotron {
    background-color: white;
    border: 1px solid $light-blue;
  }

  .navbar {
    border-bottom-color: $light-blue;
  }

  .navbar-default {
    background-color: white;
  }
}

body {
  background-color: $background-color;
  color: black;
  height: 100%;
  font-family: 'Lato', sans-serif;
}